<div id="tag_cloud">
	<% tag_cloud Question.tag_counts, %w[m m m] do |tag, css_class|%>
		<%= link_to tag.name, tag_path(tag.name), class: css_class %>
	<% end %>
</div>

<h1>Questions</h1>
<% @questions.each do |question| %>
	<div>
		<h2 class="title"><%= link_to question.title, question %></h2>
		<p class="date"><%= time_ago_in_words(question.created_at) %></p>
		<p>Tags: <%=raw question.tag_list.map{|t| link_to t, tag_path(t)}.join(', ') %></p>
	</div>
<% end %>		