<div class="new_button" ><%= link_to "+", new_question_path %></div>
<hr class="thick_one" style="position:relative; margin-top:5vh;"> 

<iframe style=" top: 1vh; left: 0" width="1200" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMjQxZWE2MWQtZWI0Yy00YmMyLWE1MTAtMzcxYTFkZmQ1ZmJlIiwidCI6IjI1MDczMGZkLWM3MjYtNDBlZS05OTEyLTQwNjcyMWRjNDg2YSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
